body {
  background-color: teal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.griglia{
  display: flex;
  flex-wrap: wrap;
}

.cella {
  /* width: 10%; */
  aspect-ratio: 1;
  border: 2px solid crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}


